@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #010B15 17.71%, #115261 47.92%, rgba(0, 0, 0, 0.9) 92.38%);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #f6f6f6;
  border-radius: 10px;
  margin-bottom: 40px;
  box-sizing: border-box;
  width: 40%;
  height: 776px;
  padding-top: 15px;
}

.logo {
  text-align: center;
  width: 90%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 86px;
  color: #00a99f;
  margin: 150px 0 75px 0;

}

.subHeading {
  height: 29px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F6F6F6;
  margin-bottom: 60px;
  
}
.textInputFields{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 100%;

}
.inputAndLabel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 91px;
  width: 80%;
}

.input {
  background: #f6f6f6;
  border: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 7px;
  margin-top: 4px;
  box-sizing: border-box;
  height: 62px;
  /* margin-bottom: 3px; */
}

.label {
height: 19px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}

.submitBtn {
  width: 80%;
  height: 62px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #F6F6F6;
  background: #00A99F;
  border-radius: 40px;
  margin:50px 0px 30px 0px;
  border:none;

}
.submitBtn:hover {
  cursor: pointer;
}

.alreadyHaveAnAccount {
  display: flex;
  width: 80%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
}

.signIn {
  margin-left: 10px;
  color: #00a99f;
}
.signIn:hover {
  color: #09e3d6;
  cursor: pointer;
}

@media(max-width:1440px) {
  .form{
    width:50%;
  }
  .logo{
    font-size: 60px;
  }
  .subHeading{
    font-size: 24px;
  }


}

@media (max-width: 1024px) {

  .form{
    width:80%;
    height: 950px;
  }
.logo{
  font-size: 60px;
}
.subHeading{
  font-size: 18px;
}
.alreadyHaveAnAccount{
  width: 80%;
  font-size: 18px;
}


}

@media(max-width:540px){

  .form{
    width:90%;
    height: 600px;
  }
}
@media(max-width:414px){

  .form{
    width:90%;
    height: 700px;
  }
}

@media(max-width:375px){
  .form{
    width:90%;
    height: 700px;
  }
.logo{
  font-size: 50px;
}
.subHeading{
  font-size: 16px;
}
.alreadyHaveAnAccount{
  width: 80%;
  font-size: 14px;
}


}