.candidatesList {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.rowColor1 {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-evenly;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  height: 60px;
  background-color: #f6f6f6;
  padding-right: 20px;
}
.rowColor2 {
  align-items: center;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  height: 60px;
  background: #fcfcfc;
  padding-right: 20px;
}

.selectCandidate:hover {
  cursor: pointer;
}

.closeAndDeleteBtns {
  display: flex;
  width: 61%;
  height: 200px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 80px;
}

.closeBtn {
  height: 45px;
  background: #00a99f;
  border-radius: 40px;
  width: 170px;
  border: none;
  color: white;
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
  font-size: 18px;
}

.closeBtn:hover {
  cursor: pointer;
}

.deleteBtn {
  height: 45px;
  background: white;
  border-radius: 40px;
  border: 2px solid #00a99f;
  width: 170px;
  color: color;
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
  font-size: 18px;
}
.deleteBtn:hover {
  cursor: pointer;
}
.section1 {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fcfcfc;
  box-shadow: 7px 8px 11px 4px rgba(186, 183, 183, 0.2);
  margin-bottom: 50px;
}

.buttonAndHeading {
  display: flex;
  width: 73%;
  justify-content: space-evenly;
}

.backToDashboardBtn {
  width: 179px;
  height: 56px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: #00a99f;
  background-color: white;
  border: 2px solid #00a99f;
  border-radius: 40px;
}
.backToDashboardBtn:hover {
  cursor: pointer;
}

.heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #010c15;
}
.pendingClock{
  width: 35px;
}