.listContainer {
  height: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questionRowColor1 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  height: 60px;
  background: #fcfcfc;
  padding-right: 20px;
  padding-left: 20px;
}
.questionRowColor2 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  height: 60px;
  background: #f6f6f6;
  padding-right: 20px;
  padding-left: 20px;
}

.headingAndSubHeading {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80px;
  justify-content: space-evenly;
  margin-bottom: 70px;
}

.heading {
  font-size: 28px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
}

.subHeading {
  font-size: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
}

.questionsList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.section1 {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fcfcfc;
  box-shadow: 7px 8px 11px 4px rgba(186, 183, 183, 0.2);
  margin-bottom: 50px;
}

.buttonAndHeading {
  display: flex;
  width: 73%;
  justify-content: space-evenly;
}

.backBtn {
  width: 140px;
  height: 56px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: #00a99f;
  background-color: white;
  border: 2px solid #00a99f;
  border-radius: 40px;
}
.backBtn:hover {
  cursor: pointer;
}

.backBtn:hover {
  cursor: pointer;
}

.heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #010c15;
}

.selectQuestion:hover {
  cursor: pointer;
}
