.signInBody {
  display: flex;
  width: 100vw;
  height: auto;
  margin: 0;
}

.signInLeftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  background-color: wheat;
}

.signInLogo {
  width: 20vmin;
}

.signInLeftHeader {
  font-size: 5vmin;
}

.signInLeftSubHeader {
  text-align: center;
  margin-top: 2.5vmin;
  font-size: 2.5vmin;
  padding: 1vmin;
}

.signInRightSide {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  background-color: rgb(36, 36, 36);
}

.signInRightHeader {
  color: white;
  font-size: 5vmin;
  margin-bottom: 5vmin;
}

.signInInput {
  padding: 0.5vmin;
  height: 2.5vmin;
  width: 80%;
  border-radius: 0.5vmin;
}
.signInLabel {
  width: 80%;
  color: white;
  font-size: 2vmin;
}

.signInBtn {
  margin-top: 2vmin;
  background-color: rgb(250, 249, 249);
  border-radius: 0.5vmin;
  border: none;
  width: 70%;
  height: 4vmin;
  font-size: 2vmin;
  padding: 1vmin;
}

.signInBtn:hover {
  cursor: pointer;
  background-color: rgb(226, 226, 226);
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vmin;
  border-radius: 2vmin;
  width: 85%;
}

.signInOrSignUpLink {
  margin-top: 1vmin;
  font-size: 2vmin;
  text-decoration: underline;
  color: white;
}

.signInOrSignUpLink:hover {
  cursor: pointer;
  color: wheat;
}
.signInContentBelowForm {
  font-size: 3vmin;
  margin-top: 2vmin;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
}

.signInNotAMember {
  font-size: 2vmin;
}
