.body{
    position:relative;
    height:1100px;
    width:100vw;
    background: linear-gradient(180deg, #010B15 17.71%, #115261 47.92%, rgba(0, 0, 0, 0.9) 92.38%);
}

.backArrow{
color:white;
margin:40px 0px 0px 250px;
}

.form {
    height:50%;
    width:auto;
    display:flex;
    justify-content:center;
}

.formInput{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F6F6F6;
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 7px;
    width:35%;
    height:48px;
    padding:5px;
}

.formLabel{    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width:35%;
    padding-bottom:10px;
    color: #FFFFFF;

}

.submitBtn{
    font-size:18px;
    width: 277px;
    height: 46px;
    background: #F6F6F6;
    border-radius: 7px;
}

.submitBtn:hover{
background-color:white;
cursor:pointer;
}