.form {
  width: 800px;
  height: 600px;
  border: 2px solid #104d5b;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.cancelOrNext {
  display: flex;
  height: 75px;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
.cancelLink {
  margin-right: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.cancelLink:hover {
  cursor: pointer;
}

.nextBtn {
  margin-right: 25px;
  width: 115px;
  height: 40px;
  background: #00a99f;
  border-radius: 30px;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #f6f6f6;
}
.nextBtn:hover {
  cursor: pointer;
}

.inputLabel {
  width: 600px;
  margin-bottom: 10px;
  margin-top: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.titleInput {
  box-sizing: border-box;
  font-family: "Lato";
  width: 600px;
  height: 60px;
  border: 1px solid #010c15;
  border-radius: 12px;
  font-size: 16px;
  padding: 10px;
}

.descriptionInput {
  padding: 10px;
  box-sizing: border-box;
  width: 600px;
  height: 262px;
  border: 1px solid #010c15;
  border-radius: 12px;
  font-size: 16px;
  font-family: "Lato";
}

.descriptionInput::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #aaaaaa;
}

@media (max-width: 768px) {
  .form {
    width: 600px;
    height: 600px;
  }
  .inputLabel {
    width: 500px;
    margin-bottom: 10px;
    margin-top: 22px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    color: #000000;
  }

  .titleInput {
    width: 500px;
  }
  .descriptionInput {
    width: 500px;
  }
}

@media (max-width: 390px) {
  .form {
    width: 360px;
    height: 550px;
  }
  .inputLabel {
    width: 300px;
    margin-bottom: 10px;
    margin-top: 22px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    color: #000000;
  }

  .titleInput {
    width: 300px;
  }
  .descriptionInput {
    padding: 10px;
    box-sizing: border-box;
    width: 300px;
    height: 262px;
    border: 1px solid #010c15;
    border-radius: 12px;
    font-size: 16px;
    font-family: "Lato";
  }

  .descriptionInput::placeholder {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #aaaaaa;
  }
}
