.hamburgerMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45%;
  position: absolute;
}

.hamburgerMenuIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  cursor: pointer;
}

.line {
  width: 20px;
  height: 2px;
  background-color: white;
  color: white;
  margin: 3px 0;
  transition: height 3s;
}

.hamburgerMenuLinks {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end; */
  height: 0;
  overflow: hidden;
  transition: height 0.7s;
  font-size: 15px;
}
.hamburgerMenuLinks a:hover {
  text-decoration: lightgray underline 1px;
  color: white;
}

.hamburgerMenuLinks.open {
  gap: 3.5px;
  height: 260px;
  width: auto;
  font-size: 15px;
  color: white;
}

.a {
  text-decoration: none;
  color: white;
}
