#contact {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(36, 36, 36);
  padding: 2vmin;
  border-radius: 2vmin;
  width: 75%;
  height: 60vmin;
}

input {
  padding: .5rem;
  height: 10%;
  width: 85%;
  border-radius: 0.5rem;
}

textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgb(250, 249, 249);
  border: 2px solid rgb(36, 36, 36);
  color: rgb(36, 36, 36);
  width: 85%;
  height: 15vmin;
}

.sendMsgBtn {
  background-color: rgb(250, 249, 249);
  border-radius: 0.25rem;
  width: 70%;
  height: 6vmin;
  font-size: 2vmin;
  padding: 1vmin;
}

.sendMsgBtn:hover {
  cursor: pointer;
  background-color: rgb(226, 226, 226);
}

.contactHeader {
  color: rgb(250, 249, 249);
  font-size: 4vmin;
}
