@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");

.heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  margin-left: 150px;
}
.headingAndBtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.createBtn {
  width: 160px;
  height: 50px;
  background: #00a99f;
  border-radius: 40px;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #f6f6f6;
}

.createBtn:hover {
  cursor: pointer;
}

.dashboardControls {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fcfcfc;
  box-shadow: 7px 8px 11px 4px rgba(186, 183, 183, 0.2);
  margin-bottom: 50px;
}

.leftSideDashboardControls {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.rightSideDashboardControls {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.statusLinks {
  width: 275px;
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  color: #aaaaaa;
}

.underLineActive {
  border-bottom: #00a99f solid 3px;
  padding-bottom: 4px;
}

.statusLinks:hover {
  cursor: pointer;
}

.section3 {
  display: flex;
  width: 100%;
  border: solid black 1px;
}

form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 390px) {
  .heading {
    margin-left: 0;
  }
  .statusLinks {
    margin-left: 0;
  }

  .dashboardControls {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .leftSideDashboardControls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
  }

  .rightSideDashboardControls {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .createBtn {
    margin: 0;
  }
}
