@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");

.body {
  width: 100%;
  height: auto;
}
.dashboardControls {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  height: 225px;
  width: 100%;
  background: #fcfcfc;
  box-shadow: 7px 8px 11px 4px rgba(186, 183, 183, 0.2);
  margin-bottom: 50px;
}
.heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
}

.createBtn {
  width: 160px;
  height: 50px;
  background: #00a99f;
  border-radius: 40px;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #f6f6f6;
}

.createBtn:hover {
  cursor: pointer;
}

.leftSideDashboardControls {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

/* .rightSideDashboardControls {
} */

.statusLinks {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-evenly;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  color: #aaaaaa;
}

.underLineActive {
  border-bottom: #00a99f solid 3px;
  padding-bottom: 4px;
}

.statusLinks:hover {
  cursor: pointer;
}

.section3 {
  display: flex;
  width: 100%;
  border: solid black 1px;
}

form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .dashboardControls {
    flex-direction: row;
    height: 160px;
  }
  .leftSideDashboardControls {
    align-items: flex-start;
  }
  .statusLinks {
    display: flex;
    justify-content: space-between;
    width: 120px;
  }
}
