footer {
  background: rgb(36, 36, 36);
  padding: 1vmin;
  text-align: center;
  font-size: 2vmin;
}

footer a {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: wheat;
}
.permalinks {
  display: flex;
  justify-content: center;
  gap: 2vmin;
  color: rgb(250, 249, 249);
  list-style: none;
  margin-bottom: 1vmin;
}

.footer_socials {
  color: rgb(250, 249, 249);
  display: flex;
  justify-content: center;
  gap: 1.5vmin;
  margin-bottom: 1vmin;
}

.footer_copyright {
  margin-bottom: 1vmin;
  color: rgb(250, 249, 249);
  font-size: 2vmin;
}
