@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");

.body {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.allCards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
}

.positionCard {
  width: 375px;
  height: 250px;
  background: #ffffff;
  box-shadow: 4px 6px 7px -1px rgba(0, 0, 0, 0.25);
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  margin: 22px;
  display: flex;
}

.cardTitle {
  height: 38px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #010c15;
}

.viewInterviewDetails {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #aaaaaa;
  height: 38px;
}

.viewInterviewDetails:hover {
  cursor: pointer;
  text-decoration: underline;
}
.invites {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #aaaaaa;
}
.leftSideOfCard {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.rightSideOfCard {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.closePosition {
  font-size: 16px;
  margin: 20px;
  font-weight: 400;
}

.closePosition:hover {
  cursor: pointer;
}

.shareBtn {
  width: 100px;
  height: 40px;
  border: 2px solid #105652;
  border-radius: 40px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #105652;
  background-color: white;
  margin: 20px;
}
.shareBtn:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .positionCard {
    width: 300px;
    height: 200px;
    display: flex;
  }

  .cardTitle {
    height: 38px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #010c15;
  }

  .viewInterviewDetails {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #aaaaaa;
    height: 38px;
  }

  .viewInterviewDetails:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .invites {
    display: none;
  }
}
