@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");

.body {
  display: flex;
  align-items: center;
  margin: 0;
  color: white;
  height: 100px;
  width: 100%;
}

.lgScreen {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  width: 1000px;
}

.logo {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5vmin;
  color: #a1cad2;
  width: 60%;
  margin-left: 80px;
}

.navLinks {
  display: flex;
  width: 20%;
  display: flex;
  padding: 0px;
  gap: 30px;
}

.navLink {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.navLink:hover {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.signUpIn {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.signUpLink {
  text-decoration: none;
  color: white;
}

.signUpLink:hover {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.signInBtn {
  border-radius: 24px;
  border: 2px solid #ffffff;
  padding: 6px 20px 6px 20px;
  width: 80px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.signInBtn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.hamburgerScreen {
  display: flex;
  justify-content: flex-end;
  height: auto;
  font-size: large;
  color: white;
  display: none;
}

.hamburgerMenu {
  display: none;
  font-size: 30px;
}
.hamburgerMenu:hover {
  cursor: pointer;
}

/* responsive, form small screens, use 13px font size */
@media (max-width: 1430px) {
  .body {
    display: flex;
    justify-content: space-between;
    width: 83%;
  }
  .logo {
    font-size: 22px;
  }
  .lgScreen {
    display: none;
  }
  .hamburgerScreen {
    display: block;
  }
  .hamburgerMenu {
    display: block;
  }
}
