@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");

.body {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #aaaaaa;
}

.logo {
  width: 70%;
  height: 25%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #00a99f;
  margin-left: 5%;
}

.navLinks {
  display: flex;
  width: 30%;
  gap: 30px;
  color: black;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}
.navLinks {
  cursor: pointer;
}
.navLink {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #aaaaaa;
}

.navLink:hover {
  font-family: "Lato";
  font-style: normal;
  cursor: pointer;
}

.highlightActive {
  font-size: 15px;

  color: #00a99f;
}

.hamburgerScreen {
  display: flex;
  justify-content: flex-end;
  height: auto;
  font-size: large;
  color: black;
  display: none;
}

.hamburgerMenu {
  display: none;
  font-size: 30px;
}
.hamburgerMenu:hover {
  cursor: pointer;
}

/* responsive, form small screens, use 13px font size */
@media (max-width: 390px) {
  .body {
    display: flex;
  }
  .logo {
    font-size: 22px;
  }
  .navLinks {
    display: none;
  }

  .hamburgerScreen {
    display: block;
  }
  .hamburgerMenu {
    display: block;
  }
}
@media (max-width: 768px) {
  .navLinks {
    width: 50%;
  }
}
